---
layout: default
---
<div class="post">
  
  <header class="post-header">
    <h1 class="post-title">Chapter {{page.chapter }} {{ page.title }}</h1>
    <p class="post-meta"{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
       {% if page.show %}
       {% unless site.github %}
       {% if page.notes %}
       <ul>
	 {% for note in page.notes %}
	 {% if note %}
	 <li>{{ note | append: ' ' | markdownify }}</li>
	 {% endif %}
	 {% endfor %}
       </ul>
       {% endif %}
       {% endunless %}
       {% endif %}
  </header>
{% include chapter_navigation.html %}

  <article class="post-content">
    {% if site.github %}
    {% if page.show %}
    {{ content }}
    {% endif %}
    {% else %}
    {{ content }}
    {% endif %}
    {% if page.summary %}
    <h2>Summary</h2>
    <ul>
      {% for summary in page.summary %}
      {% if summary %}
      <li>{{ summary | append: ' ' | markdownify }}</li>
      {% endif %}
    {% endfor %}
    </ul>
    {% endif %}
  </article>
  
{% include chapter_navigation.html %}

  {% if site.comments %}
  {% include disqus_comment_code.html %}
  {% endif %}

</div>
